.App {
  font-family: sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: #fdfcfa;
  padding: 20px;
}

#border {
  position: absolute;
  background-color:  #f8188b;
  width: 10%;
  top:165px;
  left:37vw;
  height: 4px;
  border-radius: 5px;
}

#border2 {
  position: absolute;
  background-color:  #f8188b;
  width: 10%;
  top:165px;
  left:52vw;
  height: 4px;
  border-radius: 5px;
}

.App-child {
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(40, 39, 39);
  border-radius: 50px;
  box-sizing: border-box;
}

#login-btn {
  width: 100%;
  background-color: #f8188b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

#forget-pass{
  color: #ff43a4;
  text-align: right;
  cursor: pointer;
}

.social-icon
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

#bottom-para{
  font-size: 12px;
}

body {
  margin: 10%;
  background-color: #f3f2f0;
}

@media (max-width: 200px) {
  .App-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width:800px)
{
  #forget-pass{
    color: #ff43a4;
    text-align: right;
    cursor: pointer;
    font-size: 12px;
  }
  #bottom-para{
    font-size: 8px;
  }
  button{
    font-size: 12px;
  }
  input{
    font-size: 12px;
  }
  
  p{
    font-size: 12px;
  }
  
  #border {
  position: absolute;
  background-color:  #f8188b;
  width: 12%;
  top:100px;
  left:34vw;
  height: 3px;
  border-radius: 5px;
  }
  #border2 {
    position: absolute;
  background-color:  #f8188b;
  width: 12%;
  top:100px;
  left:51vw;
  height: 3px;
  border-radius: 5px;
  }
}